/* ROOT -------------------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    text-decoration: none;
}

/* COLORS ------------------------------------------------ */
:root {
    --blue: #1e88e5;
    --dark-blue: #1565c0;
    --bg-gray: #f5f5f5;
    --gray: #bdbdbd;
    --dark-gray: #757575;
    --dark: #212121;
}

/* HTML -------------------------------------------------- */
html {
    font-family: "Oxanium", sans-serif;
    color: var(--dark-gray);
    font-size: 14px;
}

body {
    background-image: url("../media/images/bg_hexagons.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* NAV BAR ----------------------------------------------- */
#main-nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 84px;
    background-color: white;
    border-bottom: 4px solid var(--blue);
    background-image: url("../media/images/nav_bar_bg.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 997;
} #main-nav a {
    margin: 0 20px;
    padding: 6px 6px;
    color: var(--blue);
    border-radius: 4px;
    font-weight: 600;
    transition: all 0.2s;
} #main-nav a:hover {
    background-color: var(--blue);
    color: white;
}

.nav-logo-bg {
    position: fixed;
    width: 190px;
    z-index: 998;
}

.nav-logo {
    position: fixed;
    width: 150px;
    top: 12px;
    left: 21px;
    z-index: 999;
}

.current-location {
    color: white !important;
    background-color: var(--blue);
}

/* HOME -------------------------------------------------- */
#home {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 135px);
    padding: 104px 5% 0px 5%;
}

#home-img {
    width: 50%;
    height: 400px;
    background-image: url("../media/images/bg_home.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-txt {
    width: 50%;
    padding-left: 40px;
}

/* OBJETIVES --------------------------------------------- */
#objetives {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    padding: 40px 5% 0 5%;
}

.objetive-card {
    text-align: center;
    width: 30%;
    padding: 35px 30px;
    background-color: var(--blue);
    color: white;
    font-size: 12px;
    transition: all 0.2s;
} .objetive-card:hover {
    background-color: var(--dark-blue);
} .objetive-card h2 {
    font-size: 18px;
}

.objetive-card img {
    width: 30px;
    height: 30px;
    margin-bottom: 16px;
}

/* SERVICES ---------------------------------------------- */
#services {
    width: 100%;
    height: max-content;
    margin-top: 40px;
}

/* PRODUCTS ---------------------------------------------- */
#products {
    width: 100%;
    height: max-content;
    margin-top: 40px;
}

.products-box {
    justify-content: center;
    align-items: center !important;
} .products-box p, .products-box h4 {
    margin-left: 40px;
    font-size: 16px;
} .products-box h4 {
    padding: 0 10px;
    font-weight: 500;
    border-radius: 4px;
} .products-box img { width: 340px; }

.products-box-s {
    justify-content: center;
    flex-wrap: wrap;
} .products-box-s h4 {
    font-size: 16px;
    width: 100%;
    padding: 0 20px;
    font-weight: 500;
    border-radius: 4px;
} .products-box-s img {
    width: 60%;
}

.call-to-action {
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    margin-top: 30px;
    background-color: var(--dark-gray);
    color: white;
    transition: all 0.2s;
} .call-to-action:hover {
    background-color: var(--blue);
}

/* SPONSORS ---------------------------------------------- */
#sponsors {
    width: 100%;
    height: max-content;
    margin-top: 40px;
}

.sponsor-header {
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.sponsor-cards {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 0 5%;
}

.sponsor-card {
    width: 34%;
    padding: 20px;
    text-align: center;
}

.sponsor-video {
    width: 65%;
    margin: 20px auto;
} .sponsor-video video {
    width: 100%;
    border-radius: 4px;
}

.catalog {
    text-align: center;
    width: 65%;
    margin: 0 auto;
} .catalog a div {
    background-color: var(--blue);
    padding: 14px;
    transition: all 0.2s;
    border-radius: 4px;
} .catalog a {
    color: white;
} .catalog a:hover div {
    background-color: var(--dark-blue);
}

/* CONTACT ----------------------------------------------- */
#contact {
    width: 100%;
    height: max-content;
    margin-top: 40px;
}

#map {
    width: 100%;
    height: 350px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
    padding: 0 5%;
    justify-content: space-around;
}

.contact-card {
    text-align: center;
}

.contact-card img {
    width: 40px;
    margin-bottom: 15px;
}

.send-message {
    width: 700px;
    text-align: center;
    margin: 0 auto;
}

form {
    width: 700px;
    margin: 50px auto;
}

.input-box {
    display: flex;
    width: 100%;
} .input-box div {
    width: 50%;
}

input {
    width: 100%;
    padding: 6px 8px;
    border: 1px solid var(--dark-gray);
    border-radius: 4px;
} input:focus, input:hover, textarea:focus, textarea:hover {
    border-color: var(--blue);
}

textarea {
    resize: none;
    width: 100%;
    height: 150px;
    padding: 6px 8px;
    margin-bottom: 30px;
    border: 1px solid var(--dark-gray);
    border-radius: 4px;
    overflow-y: auto;
}

#submit {
    border-color: var(--dark-gray);
    background-color: var(--dark-gray);
    color: white;
    font-family: "Oxanium", sans-serif;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.2s;
} #submit:hover, #submit:focus {
    cursor: pointer;
    border-color: var(--gray);
    background-color: var(--gray);
}

/* FOOTER ------------------------------------------------ */
footer {
    width: 100%;
    padding: 40px;
    margin-top: 40px;
    background-color: var(--dark-gray);
    color: white;
    font-size: 12px;
}

footer h4 {
    background-color: var(--dark-gray);
    border-bottom: 1px solid var(--blue);
    margin-bottom: 15px;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.footer-card {
    width: 250px;
    padding-right: 10px;
    margin-left: 20px;
}

.access-div {
    width: 100%;
    padding-left: 5px;
    padding-top: 5px;
    border-bottom: 1px solid var(--dark);
}

/* !!! GLOBAL -------------------------------------------- */
.art-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 84px;
    background-color: var(--blue);
    color: white;
}

.art-nav {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 0 10%;
    background-color: var(--dark-gray);
    color: white;
} .art-nav div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 14px;
    transition: all 0.2s;
} .art-nav div:hover {
    cursor: pointer;
    background-color: var(--gray);
}

.art-nav-selected {
    background-color: var(--gray);
}

.slider-box {
    display: flex;
    width: 100%;
    min-height: 450px;
    padding: 40px 0;
    overflow: hidden;
}

.slider-content {
    position: absolute;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 0 5%;
    height: fit-content;
}

.content-txt {
    width: 60%;
    padding-right: 20px;
} .content-txt h3 {
    color: var(--blue);
}

.content-img {
    width: 40%;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} #service-img-1 {
    background-image: url("../media/images/services_01.jpg");
} #service-img-2 {
    background-image: url("../media/images/services_02.jpg");
} #service-img-3 {
    background-image: url("../media/images/services_03.jpg");
}

/* Deco. TEXT -------------------------------------------- */
h1 {
    color: var(--blue);
    font-size: 40px;
    font-weight: 400;
    line-height: 75px;
}

h2 {
    font-size: 26px;
    font-weight: 500;
}

h4 {
    background-color: var(--blue);
    color: white;
    line-height: 30px;
    border-radius: 4px;
}

.a-1 {
    color: white;
    font-weight: 700;
}

.footer-a {
    color: white;
    line-height: 24px;
}

.ing-ico::before {
    content: url("../media/icons/instagram_gris_ico.png");
    vertical-align: middle;
    margin-right: 5px;
}

.tel-ico::before {
    content: url("../media/icons/telefono_mini_ico.png");
    vertical-align: middle;
    margin-right: 5px;
}

.correo-ico::before {
    content: url("../media/icons/correo_mini_ico.png");
    vertical-align: middle;
    margin-right: 5px;
}

.ig-m-ico::before {
    content: url("../media/icons/instagram_mini_ico.png");
    vertical-align: middle;
    margin-right: 5px;
}

.ig-ico::before {
    content: url("../media/icons/instagram_ico.png");
    vertical-align: middle;
    margin: 0 4px;
}

/* Deco. SPACING ----------------------------------------- */
.mb-20 { margin-bottom: 20px; }
.mb-15 { margin-bottom: 15px; }

.pr-20 { padding-right: 20px; }
.pl-20 { padding-left: 20px; }

/* Deco. SIZES ------------------------------------------- */
.w34 { width: 34%; }