
body {
    background-image: url("../media/images/bg_hexagons.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* HEADER STYLES */
#nav-bar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 84px;
    justify-content: space-around;
    align-items: center;
    z-index: 888;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: white;
    background-image: url("../media/images/nav_bar_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 4px solid var(--blue);
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
}

#nav-bar nav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#nav-bar nav a {
    margin: 0 10px;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    color: var(--blue);
    border-radius: 2px;
    transition: all 0.2s;
}

#nav-bar nav a:hover {
    color: white;
    background-color: var(--blue);
}

#nav-logo {
    position: absolute;
    display: flex;
    width: 190px;
    height: 164px;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-image: url("../media/images/hexagon_white.png");
    background-size: cover;
    background-position: center;
    z-index: 999;
}

#nav-logo img {
    width: 80%;
    margin-left: 1px;
}

/* MAIN STYLES */
main {
    margin-top: 84px;
}

/* -- Home -- */
#home {
    display: flex;
    width: 100%;
    height: calc(100vh - 114px);
    justify-content: center;
    align-items: center;
}

#home-img {
    display: flex;
    width: 35%;
    max-width: 800px;
    height: 320px;
    max-height: 500px;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    background-image: url("../media/images/bg_home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 15px 15px var(--blue);
}

#home-img img {
    width: 100%;
}

#home-txt {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: calc(100vh - 40px);
    max-height: 1200px;
    align-items: center;
    justify-content: center;
}

/* -- Objetives -- */
#objetives {
    display: flex;
    width: 100%;
}

.objs-card {
    text-align: center;
    width: calc(100% / 3);
    padding: 85px 45px;
    color: white;
    background-color: var(--blue);
    transition: all 0.2s;
}

.objs-card:hover {
    background-color: var(--dark-blue);
}

/* -- Services -- */
#services {
    width: 100%;
    height: max-content;
}

.services-h {
    width: 100%;
    margin-top: 40px;
    padding-top: 30px;
    text-align: center;
    color: white;
    background-color: var(--blue);
}

.services-h a {
    width: 34%;
    color: white;
    text-decoration: none;
}

.services-nav {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.s-btn {
    width: 100%;
    padding: 40px 0;
    background-color: var(--dark-gray);
    transition: all 0.2s;
} .s-btn:hover {
    background-color: var(--gray);
}

.service-card {
    display: flex;
    width: 90%;
    height: min-content;
    margin: 60px auto;
    justify-content: space-between;
    align-items: center;
}

.service-text {
    width: fit-content;
    color: var(--dark-gray);
} .service-text:hover h2 {
    background-color: var(--blue);
    color: white;
}

.simg-1 { background-image: url("../media/images/services_01.jpg") }
.simg-2 { background-image: url("../media/images/services_02.jpg") }
.simg-3 { background-image: url("../media/images/services_03.jpg") }

.service-img {
    min-width: 420px;
    min-height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* -- Products -- */
.products-h {
    text-align: center;
    width: 100%;
    padding-top: 30px;
    background-color: var(--blue);
    color: white;
}

.products-nav {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    justify-content: center;
}

.products-nav a {
    width: 50%;
    text-decoration: none;
    color: white;
}

.p-btn {
    width: 100%;
    margin-top: 20px;
    padding: 40px;
    font-size: 18px;
    background-color: var(--dark-gray);
    transition: all 0.2s;
} .p-btn:hover {
    background-color: var(--gray);
}

.product-h {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    background-color: var(--blue);
    color: white;
}

.catalog {
    width: 80%;
    margin: 0 auto;
}

.cat-items {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.prod-data {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 50%;
    height: 400px;
    align-items: center;
    justify-content: center;
    color: var(--dark-gray);
    font-size: 20px;
    transition: all 0.2s;
}

.prod-img {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.prod-txt {
    line-height: 30px;
} .cat-items:hover .prod-txt {
    background-color: var(--gray);
    color: white
}

#prod-1-img { background-image: url("/media/images/product_01.png") }
#prod-2-img { background-image: url("/media/images/product_02.png") }
#prod-3-img { background-image: url("/media/images/product_03.jpg") }

.prod-catalog-link {
    width: 100%;
    text-decoration: none;
    color: white;
}

.prod-catalog-link p {
    margin-top: 15px;
    padding: 15px 0;
    background-color: var(--dark-gray);
}

#products-2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.prod-video {
    width: 80%;
    margin: 40px auto;
}

/* -- Footer -- */
footer {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--dark-gray);
    color: white;
}